@model TableBooking.Models.AccountViewModels.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
</head>
<body>
<div>
    <h1>Login</h1>  
</div>
</body>
</html>