@using System.Threading.Tasks
@using TableBooking.Models.ViewModels.AccountViewModels

@model RegisterViewModel

<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-8">
        <form asp-controller="Account" asp-action="Register" method="post">

            <h1>Test Register</h1>
            <div asp-validation-summary="All"></div>

            <div class="form-group">
                <label asp-for="Login"></label>
                <div>
                    <input asp-for="Login" class="form-control" placeholder="Enter login" />
                    <span asp-validation-for="Login"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <div>
                    <input asp-for="Email" class="form-control" placeholder="Enter email" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <div>
                    <input asp-for="Password" class="form-control" placeholder="Enter password" />
                    <span asp-validation-for="Password"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <div>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>
                
            <div>
                <button type="submit" class="btn btn-default">Sign in</button>
            </div>
</form>
    </div>
</div>