@model TableBooking.Models.AccountViewModels.RegisterRestaurantViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Restaurant Registration</title>
</head>
<body>
<div>
    <h1>Restaurant Registration</h1>  
</div>
</body>
</html>