@model TableBooking.Models.AccountViewModels.RegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Register</title>
</head>
<body>
<div>
    <h1>Registration</h1>
</div>
</body>
</html>